# File managed by puppet

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto <%= @_interface %>
iface <%= @_interface %> inet <% if @_dhcp %> dhcp  <% else %> static
address <%= @_ipaddr %>
netmask <%= @_netmask %>

gateway <%= scope.lookupvar("system::network::gateway") %>
<% end %>

